/* text */
body {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px; /*  background: #fff url(../images/bodybg.gif) repeat-x scroll left top; */
}
input[type=text], textarea {
    font-size: 11px;
    padding: 3px;
}
input, textarea {
    font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
}

a {
    color: #3B5998;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    background: url(../images/quote.png) no-repeat left top;
    padding-left: 19px;
    color: gray;
}
span.gray {
    color: #777;
    font-weight: normal;
}
/* end text */

input.submit {
    background: url(../images/buttonbg.png);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-position: 0 -50px;
    color: White;
    border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    font-size:11px;
    padding: 3px 6px 3px;
    cursor:pointer;
}

input.button, a.button {
    background: url(../images/buttonbg.png);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}
input.button {
    padding: 3px 14px 3px;
    cursor: pointer;
    font-size: 11px;
}
a.button {
    padding: 4px 15px 4px;
}
input.gray, a.gray {
    background-position: 0 0;
    color: #000;
    border-color: #bbbbb0 #bbbbb0 #999 #999;
}
input.gray:hover, a.gray:hover {
    background-position: 0 -20px;
}

input.blue, a.blue {
    background-position: 0 -50px;
    color: White;
    border-color: #6699cc #336699 #336699 #6699cc;
}
input.blue, a.blue:hover {
    background-position: 0 -75px;
}

input.green, a.green {
    background-position: 0 -100px;
    color: White;
    border-color: #669933 #336600 #336600 #669933;
}
input.green:hover, a.green:hover {
    background-position: 0 -120px;
}

/* end button */

input.del15, a.del15 {
    width: 15px;
    height: 15px;
    display: block;
    background: url(../images/delete15.png) 0 0;
    cursor:pointer;
}
input.del15:hover,a.del15:hover {
    background: url(../images/delete15.png) 0 15px;
}

input.del11, a.del11 {
    width: 11px;
    height: 11px;
    display: block;
    background: url(../images/delete11.png) 0 0;
    cursor:pointer;
}
input.del11:hover,a.del11:hover {
    background: url(../images/delete11.png) 0 11px;
}

/* end buton delete */


#header {
    height: 34px;
}

/* title */
#title {
    margin: 20px 0 10px 0;
}
#title h1 {
    font-size: 16px;
    display: inline;
}
#title h1 a {
    color: #000;
}
#desc {
    font-size: 11px;
    margin-top: 5px;
}
/* end title */
#composer {
    margin: 11px 0 7px 0;
}
#composer textarea {
    width: 98%;
    background-color: #fff;
    border: solid 1px #bbb;
    font-size: 13px;
    color: #777;
    font-family: tahoma,verdana,arial,sans-serif;
}
#c-mention textarea {
    height: 18px;
}
#c-input textarea {
    min-height: 36px;
    max-height: 230px;
    color: #000;
}
#c-buttons {
    margin: 5px 3px 0 3px;
}
/* categories */
#categories {
    margin-top: 11px;
    margin-bottom: 45px;
    z-index: 10;
    position: relative;
}

#categories li {
    text-transform: capitalize;
    float: left;
    background: #D8DFEA;
    margin-left: 3px;
}
#categories li a {
    font-size: 13px;
    font-weight: bold;
    padding: 4px 11px;
    display: block;
}

#categories li a:hover {
    color: #fff;
    text-decoration: none;
    background: #627AAD;
}

#categories .current-cat {
    background: #fff;
}

#categories .current-cat a {
    background: #fff;
    color: #000;
}

#categories .current-cat a:hover {
    background: #fff;
    color: #000;
}

#categories #plus {
    background: url(../images/plus.gif) no-repeat top left;
    z-index: 999999; /*	position:relative; 	display: block; */
}

#categories #plus:hover, #categories #plus.hover {
    background: #627AAD url(../images/plus.gif) no-repeat left -25px;
}
/* end categories */


.post {
    /*clear: both;*/
    float: left;
    border-top: 1px solid #D8DFEA;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 8px;
}

.post-gravatar {
    float: left;
    margin-right: 10px;
}
.post-gravatar img {
    width: 50px;
    height: 50px;
}
.post-text {
    float: right;
    width: 490px;
}

.post-text label input {
    border: 1px solid #BDC7D8;
    margin-bottom: 3px;
    color: #777777;
    font-size: 11px;
    padding: 3px;
    text-align: left;
    background: #fff;
}

.post .title {
    margin-bottom: 10px;
    font-size: 13px;
}

.post p {
    margin-bottom: 10px;
    line-height: 15px;
}
.post p img {
    background-color: #F3F3F3;
    border: 1px solid #DDDDDD;
    padding: 4px;
}
.post-text ul li {
    margin-left: 15px;
    list-style-type: disc;
}

.post ol {
    margin-left: 20px;
    list-style: decimal;
}

.post ul, .post ol, .post li {
    margin-bottom: 10px;
}

.post ul ul, .post ol ol {
    margin-top: 10px;
}

.post .meta, .post .post-meta, .comments .meta {
    color: #777;
    margin-top: 5px;
    margin-bottom: 5px;
}

.index-comment {
    background: #ECEFF5;
    width: 385px;
    float: left;
    clear: both;
    margin-top: 2px;
    padding: 7px;
    position: relative;
}

.morecomments {
    display: block;
}
.morecomments a {
    margin-left: 18px;
}

.ic-avatar {
    float: left;
}
.ic-avatar img {
    width: 37px;
    height: 37px;
}
.ic-text {
    width: 340px;
    float: right;
}
.ic-meta {
    margin-bottom: 3px;
}

.ic-author {
    font-weight: bold;
    display: inline;
}
.ic-content, .comment p {
    display: inline;
    line-height: 1.3;
}

.ic-date {
    color: #777;
    margin-top: 2px;
}
.ic-edit {
    position: absolute;
    right: 5px;
    top: 5px;
}
.comment-form input[type=text], #comment_form input[type=text], .comment-form textarea, #comment_form textarea {
    border: 1px solid #BDC7D8;
    margin-bottom: 3px;
}

.comment-form textarea, #comment_form textarea {
    width: 377px;
    min-height: 30px;
    color: #000;
}

.comment-form textarea.commenttextright, #comment_form textarea.commenttextright {
    height: 30px;
    margin-left: 5px;
    width: 310px;
    color: #000;
}

.form_submit_right {
    text-align: right;
}

textarea.respondtext {
    border: 1px solid #BDC7D8;
    height: 14px;
    width: 375px;
    color: #777;
}

.navigation {
    background: #ECEFF5 none repeat scroll 0 0;
    border-top: 1px solid #D8DFEA;
    margin-top: 8px;
    padding: 3px 7px 4px 0;
    float: left;
    width: 100%;
}

.next {
    margin-left: 32px;
    float: left;
}

.prev {
    margin-right: 32px;
    float: right;
}



/* end post */

.widget {
    border-right: 1px solid #D8DFEA;
    border-top: 1px solid #94A3C4;
    padding-bottom: 10px;
}
.widget h2 {
    background: #ECEFF5 scroll 0px 0px;
    border-top: 0 none;
    display: block;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 5px 8px;
}
.widget ul {
    list-style: none;
    padding: 0px 7px 10px 8px;
}
.widget li {
    margin-top: 5px;
}
.widget ul li a {
    margin: 0;
    padding: 0;
}
.widget-content {
    padding: 0 5px;
}
/* end widget */

.toolbar {
    margin: 10px 0;
    padding: 6px;
    font-weight: bold;
    background-color: #F2F2F2;
    border-top: 1px solid #cccccc;

}
.toolbar .buttons {
    margin: 5px 0;
}
.mailtoolbar
{
    border-top: 1px solid #EEEEE0;
    font-weight:bold;
    padding:10px 0;
    margin-top:20px;
}
.mailselect {
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: 7px;
}
.mail-list {
    min-height: 300px;
}
.index-mail {
    border-top: 1px solid #E5E5E5;
    height: 56px;
    overflow: hidden;
    position: relative;
}
.index-mail table {
    border-collapse: collapse;
    width: 100%;
}
.index-mail td {
    height: 56px;
    vertical-align: middle;
    line-height: 1.3;
}

.index-mail .line {
    color: #333333;
    font-size: 11px;
}
.index-mail .tagline {
    color: #777;
}
td.im-badge, a.badge {
    width: 17px;
}

td.im-checkbox {
    text-align: center;
    width: 25px;
}
.im-date {
    font-size: 9px;
}

.im-icon {
    height: 50px;
    margin: 3px 3px 3px 0;
    position: relative;
    width: 50px;
}
td.im-envelope {
    padding-left: 5px;
    width: 150px;
}
td.im-detail {
    padding-left: 10px;
}

.index-mail .subject {
    font-weight: bold;
}
/* end mail list*/


.friend {
    /*clear: both;*/
    border-bottom: 1px solid #D8DFEA;
    margin-bottom: 5px;
    position: relative;
}

.f-gravatar {
    float: left;
    margin-right: 8px;
    margin-bottom: 4px;
}
.f-gravatar img {
    height: 50px;
    width: 50px;
}
.f-content {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}
.f-edit {
    position: absolute;
    right: 10px;
    top: 18px;
}
.f-name {
    font-size: 12px;
    font-weight: bold;
}

.f-pager {
    margin: 20px 0 7px 0;
    padding: 11px 6px 5px 7px;
}
.f-pager a {
    font-weight: bold;
}

/* end friends*/

.fg-row {
    clear: both;
}
.fg-friend {
    width: 180px;
    float: left;
    margin-left: 20px;
}

.fg-content {
    line-height: 1.3;
}
.fg-edit {
    float: right;
    margin-top: 2px;
}

.fg-name {
    font-size: 11px;
    font-weight: bold;
}

/* end friend grid */
.photo-grid {
    margin-top: 11px;
}
.photo-grid td {
    padding: 0 10px 8px 0;
    width: 171px;
    vertical-align: top;
    text-align: left;
}
.pg-wrapper, .pg-album {
    border: 1px solid #ccc;
    padding: 2px;
}
.photo-grid td a:hover div {
    border-color: #777;
}
.photo-grid td img {
    margin: 2px;
    height: 120px;
    width: 161px;
}
.pg-detail {
    margin-left: 8px;
    line-height: 1.3;
}
.pg-name {
    font-weight: bold;
}
.pg-meta {
    color: #777;
}
/* end photos */

.mb {
    padding: 10px;
    margin-bottom: 10px;
    color: #000;
}

.mb.grey {
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
}
.mb.blue {
    background-color: #eceff6;
    border: 1px solid #d4dae8;
}
.mb.info {
    background-color: #fff9d7;
    border: 1px solid #e2c822;
}
.mb.error {
    background-color: #ffebe8;
    border: 1px solid #dd3c10;
}

/* end box style */

#footer {
    border-top: 1px solid #DDDDDD;
    clear: both;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: right;
    width: 100%;
    color:#777;
}

.nofloat {
    float: none;
    width: 100%;
}

.aligncenter, div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}


