.grid_1 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_2 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_3 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_4 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_5 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_6 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_7 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_8 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_9 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_10 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_11 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_12 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_13 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_14 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_15 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}
.grid_16 {
	MARGIN-LEFT: 0.8%; MARGIN-RIGHT: 0.8%
}

.post input.text{
	margin-left:-60px;
}


fieldset.login a.button{
	vertical-align:super;
	padding-bottom:5px;
}