{#foreach $T as Comment}
<div class="index-comment notinit">
    <div class="ic-avatar">
        <a href='/profiles/profile.aspx?AccountID={$T.Comment.CommentByAccountID}'>
            <img alt="" src="/images/ProfileAvatar/ProfileImage.aspx?AccountID={$T.Comment.CommentByAccountID}"
                class="avatar" />
        </a>
    </div>
    <div class="ic-text">
        <div class="ic-meta ic-author">
            <a href='/profiles/profile.aspx?AccountID={$T.Comment.CommentByAccountID}' class="url">
                {$T.Comment.CommentByUsername}</a>
        </div>
        <div class="ic-content">
            {$T.Comment.Body}
        </div>
        <div class="ic-meta ic-date">
         {$T.Comment.CreateDateString}
        </div>
    </div>
    {#if $T.Comment.AuthorCanDelete == true} 
    <div class="ic-edit" style="display: none">
        <a class="del15 confirm" data="{$T.Comment.CommentID}"></a>
    </div>
    {#/if}
</div>
{#/for}